:root {
  /* HEADER */
  --header-bg: #0d6efd;          /* Bootstrap primary blue */
  --header-text: #ffffff;

  /* SIDEBAR */
  --sidebar-bg: #212529;         /* Dark gray */
  --sidebar-text: #adb5bd;
  --sidebar-text-active: #ffffff;

  /* CONTENT */
  --content-bg: #f8f9fa;
}


body{
  margin: 0;
}

